# java
export JAVA_HOME="{{ jdk_home }}";
export MVN_HOME="{{ mvn_home }}";

# path
export PATH="{{ stowsh_bin }}:${PATH}";
export PATH="${JAVA_HOME}/bin:${PATH}";
export PATH="${MVN_HOME}/bin:${PATH}";

# docker
export DOCKER_HOST="{{ docker.host }}";
