#!/usr/bin/env bash

set -e

### Pass-through to openvpn that connects to NordVPN servers. This script can also use the credentials
### at the path identified by AUTH_PASS. The credentials file must consist of two lines: the username,
### then the password.
###
### Usage:
###   <Options> nordvpn.sh
###
### Options:
###   AUTH_PASS: password file for nordvpn (default: "${HOME}/.config/nordvpn/auth.pass")
###   REGION: the geographic region for the server (default: us-ca)
###   SERVER: the server id (default: 36)
###   PROTOCOL: the transport protocol to use (default: udp)

readonly AUTH_PASS="${AUTH_PASS:-"${HOME}/.config/nordvpn/auth.pass"}"
readonly REGION="${REGION:-us-ca}"
readonly SERVER="${SERVER:-36}"
readonly PROTOCOL="${PROTOCOL:-udp}"

function cleanup {
  rm -f "${TEMP_OVPN_FILE:?}"
}

function start_ovpn {
  local ovpn_file="$1"

  >&2 echo "connecting using ovpn_file [${ovpn_file}]"
  cp "${ovpn_file}" "${TEMP_OVPN_FILE}"

  if [[ -f "${AUTH_PASS}" ]]; then
    sed --regexp-extended --in-place "s,^(auth-user-pass),\1 ${AUTH_PASS},g" "${TEMP_OVPN_FILE}"
  fi

  sudo openvpn "${TEMP_OVPN_FILE}"
}

function main {
  TEMP_OVPN_FILE="$(mktemp --suffix '_ovpn')"
  trap cleanup EXIT

  start_ovpn "/etc/openvpn/ovpn_${PROTOCOL}/${REGION}${SERVER}.nordvpn.com.${PROTOCOL}.ovpn"
}

main
